* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	padding: 3rem;
  width: 100vw;
  min-height: 100vh;
  background-color: #1d1616;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 2rem;
}

/* Start: First Exercise */
.firstExercise {
  background-color: #8e1616;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.firstExercise__title {
  color: white;
}

.firstExercise__input {
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 59px 0px #e65858;
  color: #d84040;
}

.firstExercise__input::placeholder {
  color: #d84040;
}

.firstExercise__control {
}

#firstExercise__create {
  background-color: rgb(73, 184, 73);
  font-size: 1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

#firstExercise__clear {
  background-color: #d84040;
  font-size: 1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.firstExercise__output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.firstExercise__output > span:nth-child(1) {
  margin-right: 0.5rem;
}
/* End: First Exercise */

/* Start: Second Exercise */
.secondExercise {
  background-color: #8e1616;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.secondExercise__title {
  color: white;
}

.secondExercise__array {
  width: 10rem;
  height: 5em;
  overflow-y: scroll;
	color: white;
}

.secondExercise__array::-webkit-scrollbar {
	background-color: #e65858;
	border-radius: 0.5rem;
}

.secondExercise__array::-webkit-scrollbar-thumb {
  background-color: #888;
	border-radius: 0.5rem;
	height: 0.5rem;
}


#secondExercise__create {
  background-color: rgb(73, 184, 73);
  font-size: 1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

#secondExercise__clear {
  background-color: #d84040;
  font-size: 1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.secondExercise__output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.secondExercise__output > span:nth-child(1) {
  margin-right: 0.5rem;
}
/* End: Second Exercise */

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
